In [1]:
print('hello world')

hello world

In [34]:
a=int(input('enter value a'))
b=int(input('enter value b'))
c=int(input('enter value c'))
d=(a+b)/c
e=d+7j
j=str(e)+'shivaprasadreddy'

enter value a9
enter value b2
enter value c2

In [32]:
str(e)+'shivaprasadreddy'

'(16.285714285714285+7j)shivaprasadreddy'

In [33]:
f

'eshivaprasadreddy'

In [23]:
type(e)

complex

In [24]:
o1=str(e)+'shiva'

In [25]:
o1

'(16.285714285714285+7j)shiva'

In [35]:
j

'(5.5+7j)shivaprasadreddy'

In [4]:
s='my name is shiva prasad reddy find the name in this statement'
s.find('shiva')

11

In [6]:
s.upper()

'MY NAME IS SHIVA PRASAD REDDY FIND THE NAME IN THIS STATEMENT'

In [7]:
s.lower()

'my name is shiva prasad reddy find the name in this statement'

In [8]:
s.strip()

'my name is shiva prasad reddy find the name in this statement'

In [11]:
'vijaya'.join(s)

'mvijayayvijaya vijayanvijayaavijayamvijayaevijaya vijayaivijayasvijaya vijayasvijayahvijayaivijayavvijayaavijaya vijayapvijayarvijayaavijayasvijayaavijayadvijaya vijayarvijayaevijayadvijayadvijayayvijaya vijayafvijayaivijayanvijayadvijaya vijayatvijayahvijayaevijaya vijayanvijayaavijayamvijayaevijaya vijayaivijayanvijaya vijayatvijayahvijayaivijayasvijaya vijayasvijayatvijayaavijayatvijayaevijayamvijayaevijayanvijayat'

In [31]:
a='we are all part of full stack'
print(a.lower())
print(a.count('a'))
for i in range(len(a)):
    if a[i]=='a':
        print(i)
print(a.replace('a','shiv'))
print(a.split())

we are all part of full stack
4
3
7
12
26
we shivre shivll pshivrt of full stshivck
['we', 'are', 'all', 'part', 'of', 'full', 'stack']

In [8]:
s='shiva'
for i in range(1,len(s)+1):
    print(s[-i])

a
v
i
h
s

In [2]:
s='my name is shiva i want to find the name again'
p=s.find('name')
for i in range(p+1,len(s)):
    q=s.find('name')
    break
print(q)
#doubt satya

3

In [17]:
%%time
l=[1,['shiva',23,3,'prasad','shiva'],['kid','child',3,82,],['cat','data',271,'wanted']]
#l.insert(1,'write a letter')
#l.insert(1,'8+5j')
#print(l)
for i in l:
    if type(i) is list:
        #print(i)
        j=0
        while j < len(i):
            if type(i[j])==str:
                #print(j)
                print(i[j],j)
                
            j=j+1
        j=0
        while j < len(i):
            if type(i[j]) == str:
                i.remove(i[j])
                continue
            j = j +1
print(l)

shiva 0
prasad 3
shiva 4
kid 0
child 1
cat 0
data 1
wanted 3
[1, [23, 3], [3, 82], [271]]
Wall time: 0 ns

In [ ]:
l=[1,['shiva',23,3,'prasad','shiva'],['kid','child',3,82,],['cat','data',271,'wanted']]
print(len(l[2]))

In [15]:
l=[1,2,3,4,4,5,5,6,1]

for i in range (0,len(l)):

    for x in range (i+1,len(l)):

        if l[i] == l[x] :

            print ('Found duplicate value at index '+str(x)+' which matches with value at index position '+str(l[i]))

Found duplicate value at index 8 which matches with value at index position 1
Found duplicate value at index 4 which matches with value at index position 4
Found duplicate value at index 6 which matches with value at index position 5

In [2]:
# tuple set dic
p=input('plz enter the paragragh :')
l=list(p)
s=set(l)
print('this is list values    :',l)
print( 'this is a set values   :',s)
d={i:'shiva' for i in l}
t=tuple(d.keys())
print(t)
l1=list(d.values())
print(l1)
print(d)

plz enter the paragragh :shivaprasdredy shuvaprasd reddu
this is list values    : ['s', 'h', 'i', 'v', 'a', 'p', 'r', 'a', 's', 'd', 'r', 'e', 'd', 'y', ' ', 's', 'h', 'u', 'v', 'a', 'p', 'r', 'a', 's', 'd', ' ', 'r', 'e', 'd', 'd', 'u', ' ']
this is a set values   : {'r', 'e', 's', 'v', 'u', 'p', ' ', 'a', 'h', 'y', 'd', 'i'}
('s', 'h', 'i', 'v', 'a', 'p', 'r', 'd', 'e', 'y', ' ', 'u')
['shiva', 'shiva', 'shiva', 'shiva', 'shiva', 'shiva', 'shiva', 'shiva', 'shiva', 'shiva', 'shiva', 'shiva']
{'s': 'shiva', 'h': 'shiva', 'i': 'shiva', 'v': 'shiva', 'a': 'shiva', 'p': 'shiva', 'r': 'shiva', 'd': 'shiva', 'e': 'shiva', 'y': 'shiva', ' ': 'shiva', 'u': 'shiva'}

In [36]:
def adding_lists(*args, **kwargs, ):
    '''l=[]
    for i in arg:
        if type(i) is list:
            l=l+i'''
    return args
    return kwargs

In [40]:
adding_lists(a=2, 'aefd', 9)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_11424/3333851674.py, line 1)

In [51]:
# function seperating data types
def seperate(*args):
    se={}
    print(type(se))
    for i in args:
        if type(i) in se:
            se[type(i)].append(i)
        else:
            se[type(i)]= [i]
    return se

In [56]:
seperate(21,'sdj',3+3j,('dww',2),[1,3,1,'sd'],{21,31,'hja'},24,3+8j,(2,'ssf'),True)

<class 'dict'>

{int: [21, 24],
 str: ['sdj'],
 complex: [(3+3j), (3+8j)],
 tuple: [('dww', 2), (2, 'ssf')],
 list: [[1, 3, 1, 'sd']],
 set: [{21, 31, 'hja'}],
 bool: [True]}

In [49]:
type(se)

NameError: name 'se' is not defined