In [7]:
#This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.
#400 % is leap year but not 100% 
def is_leap(year):
    
    if year%400 is 0:
        return True
    elif year%100 is 0:
        return False
    elif year%4==0:
        return True
    else:
        return False
year = int(input())
print(is_leap(year))

2000
True

In [17]:
    n = int(input())
    for i in range(1,n+1):
        print(i, end="")

150
123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100101102103104105106107108109110111112113114115116117118119120121122123124125126127128129130131132133134135136137138139140141142143144145146147148149150

In [16]:
n=10
for i in range(n):
    print(i, end="")

0123456789

In [81]:
x=3
y=3

for i in range(x+1):
    l.append([])
    #for j in range(y+1):
     #   l[i].append(i)
print(l)

[[], [], [], []]

In [70]:
matrix = []

for i in range(5):
	
	# Append an empty sublist inside the list
	matrix.append([])
	
	for j in range(5):
		matrix[i].append(j)
		
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [2]:
x = int(input())
y = int(input())
#z = int(input())
n = int(input())
ans = [[i,j] for i in range(x + 1) for j in range(y + 1) if i + j  != n]
print (ans)

2
2
2
[[0, 0], [0, 1], [1, 0], [1, 2], [2, 1], [2, 2]]

In [11]:
if __name__ == '__main__':
    l=[]
    for i in range(int(input())):
        name = input()
        score = float(input())
        l.append([name,score])
        l.sort()
    print(s)
    print(l)

2
qw
32
qw
34
{34.0, 'qw'}
[['qw', 32.0], ['qw', 34.0]]

In [27]:
n=input().split()
print(n)
print(n[0])

fuwdvbe
['fuwdvbe']
fuwdvbe

In [6]:
#runner-up
l=[]
for i in range(4):
    n=int(input())
    l.append(n)
l.sort()
print(set(l))
s=list(set(l))
print(l[-2])
print(l)

32
422
543
577
{32, 577, 422, 543}
543
[32, 422, 543, 577]

In [40]:
s='ajkHJInanIJIkanKknkn'
'''
for i in s:
    if (i.islower()) == True:
        print(i.upper(), end='')
    elif (i.isupper()) == True:
        print(i.lower(), end='')
'''
print(s.swapcase())
        s.

AJKhjiNANijiKANkKNKN

In [12]:
import datetime
import calendar

m, d, y = map(int, input().split())
input_date = datetime.date(y, m, d)
print(calendar.day_name[input_date.weekday()])

12 26 1996
Thursday

In [15]:
import datetime
year=int(input())
month=int(input())
day=int(input())
p=datetime.date(year,month,day)
print(calendar.day_name[p.weekday()].upper())

1996
12
26
THURSDAY

In [7]:
# percentage
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    avg=0
    c=0
    for i in student_marks[query_name]:
            c=c+i
    print("the total is: ", c)
    avg=c/(len(scores))
    print(avg)

2
Anurag 26 28 30
Harsh 25 26.5 28
Harsh
the total is:  79.5
26.5

In [16]:
a=8.3
print('%.2f'%a)

8.30

In [1]:
#list
if __name__ == '__main__':
    N = int(input())
    n=0
    l=[]
    for i in range(N):
        c,*b=input('enter 1st name and numbers: ').split()
        b=list(map(int,b))
        if c == 'print':
            print(l)
        elif c == 'pop':
            l.pop(-1)
        elif c=='reverse':
            l.reverse()
        elif c== 'sort':
            l.sort()
        elif c=='append':
            l.append(b[0])
        elif c== 'insert':
            l.insert(b[0],b[1])
        elif c=='remove':
            n=int(input())
            l.remove(n)
        else:
            print('invalid entry')

2
enter 1st name and numbers: append 32
enter 1st name and numbers: print
[32]

In [8]:
if __name__ == '__main__':
    l=[]
    for i in range(int(input())):
        name = input()
        score = float(input())
        l.append([name,score])
    l.sort()
    print(l)

3
A
10
B
5
C
3
[['A', 10.0], ['B', 5.0], ['C', 3.0]]