In [6]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print('+', end="")
    print(' ')

+
++
+++
++++
+++++

In [9]:
n=5
for i in range(0,n):
    for j in range(0,n-i):
        print('+', end="")
    print(' ')

+++++
++++
+++
++
+

In [12]:
n=5
for i in range(0,n):
    for j in range(0,n-i):
        #print()
        print('+', end="")
    print(' ')

+++++
++++
+++
++
+

In [19]:
n=5
for i in range(0,n):
    for j in range(0,n-i):
        print('+', end='')
    print('\r')

+++++
++++
+++
++
+

In [56]:
n=4
for i in range(n,0,-1):
    for j in range(n-i):
        print(j,end="-")
    ''''for j in range(2*i-1):
        print('*',end=" ")
    print('')'''

0-0-1-0-1-2-

In [55]:
  for j in range(0):
        print(j)

In [136]:
n=4
for i in range(n,0,-1):
    for j in range(n-i):
        print(end=" ")#play with space u will get 3 types of triange pattens
    for j in range(2*i-1):
        print('$',end='')#play with space u will get 3 types of triange pattens
    print('')

$$$$$$$
 $$$$$
  $$$
   $

In [135]:
n=5
m=0
for i in range(n,-1,-1):
    for j in range(n-i,0,-1):#change n-i to m same result
        print(end=' ')
    #m=m+1
    for j in range(0,i+1):
        print('*',end=" ")
    print('')

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [150]:
n=5
i=0
while i<n:
    print(' '*(n-i-1)+'* '*(i+1))
    i+=1

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
l=[[1,'shiva',23,3,'prasad','shiva'],['kid','child',3,82,],['cat','data',271,'wanted']]
j=0
for i in l:
    if type(i)==list:
        while j<len(i):
            if type(i)==str:
                print(l.index(i))
        j+=1